<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>online_Examintion</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminInsertServlet</display-name>
    <servlet-name>AdminInsertServlet</servlet-name>
    <servlet-class>AdminInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertServlet</servlet-name>
    <url-pattern>/AdminInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdate</display-name>
    <servlet-name>AdminUpdate</servlet-name>
    <servlet-class>AdminUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdate</servlet-name>
    <url-pattern>/AdminUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LectureServlet</display-name>
    <servlet-name>LectureServlet</servlet-name>
    <servlet-class>LectureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LectureServlet</servlet-name>
    <url-pattern>/LectureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LectureServelet</display-name>
    <servlet-name>LectureServelet</servlet-name>
    <servlet-class>com.Examination.LectureServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LectureServelet</servlet-name>
    <url-pattern>/LectureServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLecture</display-name>
    <servlet-name>AddLecture</servlet-name>
    <servlet-class>com.Examination.AddLecture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLecture</servlet-name>
    <url-pattern>/AddLecture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegister</display-name>
    <servlet-name>StudentRegister</servlet-name>
    <servlet-class>com.Examination.StudentRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegister</servlet-name>
    <url-pattern>/StudentRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>com.Examination.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdate</display-name>
    <servlet-name>StudentUpdate</servlet-name>
    <servlet-class>com.Examination.StudentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdate</servlet-name>
    <url-pattern>/StudentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionInsert</display-name>
    <servlet-name>QuestionInsert</servlet-name>
    <servlet-class>com.Examination.QuestionInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionInsert</servlet-name>
    <url-pattern>/QuestionInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultInsert</display-name>
    <servlet-name>ResultInsert</servlet-name>
    <servlet-class>com.Examination.ResultInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultInsert</servlet-name>
    <url-pattern>/ResultInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamInsert</display-name>
    <servlet-name>ExamInsert</servlet-name>
    <servlet-class>com.Examination.ExamInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamInsert</servlet-name>
    <url-pattern>/ExamInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDelete</display-name>
    <servlet-name>StudentDelete</servlet-name>
    <servlet-class>com.Examination.StudentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDelete</servlet-name>
    <url-pattern>/StudentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogutServlet</display-name>
    <servlet-name>LogutServlet</servlet-name>
    <servlet-class>com.Examination.LogutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogutServlet</servlet-name>
    <url-pattern>/LogutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.Examination.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateExam</display-name>
    <servlet-name>UpdateExam</servlet-name>
    <servlet-class>com.Examination.UpdateExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExam</servlet-name>
    <url-pattern>/UpdateExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamUpdate</display-name>
    <servlet-name>ExamUpdate</servlet-name>
    <servlet-class>com.Examination.ExamUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamUpdate</servlet-name>
    <url-pattern>/ExamUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamDelete</display-name>
    <servlet-name>ExamDelete</servlet-name>
    <servlet-class>com.Examination.ExamDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamDelete</servlet-name>
    <url-pattern>/ExamDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultUpdate</display-name>
    <servlet-name>ResultUpdate</servlet-name>
    <servlet-class>com.Examination.ResultUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultUpdate</servlet-name>
    <url-pattern>/ResultUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultDelete</display-name>
    <servlet-name>ResultDelete</servlet-name>
    <servlet-class>com.Examination.ResultDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultDelete</servlet-name>
    <url-pattern>/ResultDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.Examination.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackInsert</display-name>
    <servlet-name>FeedbackInsert</servlet-name>
    <servlet-class>com.Examination.FeedbackInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackInsert</servlet-name>
    <url-pattern>/FeedbackInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitAnswer</display-name>
    <servlet-name>SubmitAnswer</servlet-name>
    <servlet-class>com.Examination.SubmitAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitAnswer</servlet-name>
    <url-pattern>/SubmitAnswer</url-pattern>
  </servlet-mapping>
</web-app>